*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: navy;
    font-size: medium;
}
body{
    margin: 10px 80px 0 80px;
}
h1{
    text-align: center;
}
#titulo1{
    font-size: 30px;
    letter-spacing: 5px;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.titulos{
    font-size: 30px;
    color: darkblue;
}
#cajatexto{
    padding: 0 30px 0 30 px;
}
p{
    text-align: justify;
}
#cajaboton{
    text-align: center;
}
#in1{
    background-color: red;
}
#in2{
    background-color: black;
}
#img{
    text-align: center;
    margin: 20px 0 0 0;
}