*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color: steelblue;
}
.contenedor{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imagen img{
    width: 100px;
    height: 100px;
    margin: 25px;
    transition: transform 1s ease-in-out;
}
.cajatexto{
    background-color: white;
    font-weight: bolder;
    justify-content: center;
    border-radius: 5px;
    padding: 10px;
    display: none;
    text-align: center;
}
.imagen:hover .cajatexto{
    display: block;
    transform: translateY(-270px);
}
.imagen:hover img{
    height: 120px;
    width: 120px;
    transform: translateY(-70px);
}
